<h1>Welcome to the Workout Tracker</h1>

<h3>Keep track of all your workouts!</h3>

<div class="home"><img src="http://d2x83fpq8bsx3q.cloudfront.net/wp-content/uploads/2013/11/situps-700x523.jpg">
</div>